:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --logo-color: #000;
  --button-bg-color: #F5F4FA;
  --footer-bg-color: #2F303A;
  --icon-color: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav, .contact, .address, .social-links, .features, .directions, .team, .clients, .filter, .project {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.button, .filter__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

body {
  position: relative;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: inline-block;
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__text {
  color: var(--accent-color);
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-footer__logo {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.site-nav__link:hover, .site-nav__link :focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact__item + .contact__item {
  margin-left: 30px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  display: block;
  margin-right: 10px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.contact__link:hover .contact__icon,
.contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

.button {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.9;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.button--big {
  padding: 10px 52px;
}

.button:hover, .button:focus {
  background-color: #188CE8;
}

.button__icon {
  fill: var(--primary-white-color);
}

.button__icon--left {
  margin-left: 10px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.page-footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__title {
  margin-top: 12px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.address-page {
  margin-right: 70px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__item:first-child .address__link:hover, .address__item:first-child .address__link:focus {
  color: var(--accent-color);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__link--white-color {
  color: var(--primary-white-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.social-page {
  margin-right: 93px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  cursor: pointer;
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__link--background {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon {
  fill: var(--primary-white-color);
}

.social__icon--color-gray {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.social__link:hover .social__icon--color-gray,
.social__link:focus .social__icon--color-gray {
  fill: var(--primary-white-color);
}

.form-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-mail__field {
  position: relative;
  overflow: hidden;
}

.form-mail__input {
  display: inline-block;
  min-width: 378px;
  padding: 15px 16px;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0);
  color: var(--primary-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
}

.form-mail__input:not(:placeholder-shown) + .form-mail__label {
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.form-mail__label {
  position: absolute;
  top: 50%;
  left: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.form-mail__input:hover + .form-mail__label,
.form-mail__input:focus + .form-mail__label {
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 1000ms var(--timing-function);
  transition: opacity 1000ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

/* modal */
.modal {
  position: absolute;
  min-width: 528px;
  top: 50%;
  left: 50%;
  padding: 40px;
  text-align: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 500ms var(--timing-function) 1000ms;
  transition: -webkit-transform 500ms var(--timing-function) 1000ms;
  transition: transform 500ms var(--timing-function) 1000ms;
  transition: transform 500ms var(--timing-function) 1000ms, -webkit-transform 500ms var(--timing-function) 1000ms;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% 50%;
  -webkit-transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: border 250ms var(--timing-function), fill 250ms var(--timing-function);
  cursor: pointer;
}

.modal__close:hover, .modal__close:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* form */
.form-legend {
  margin-bottom: 12px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.form-modal {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-modal__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-modal__field:not(:nth-last-child(3)) {
  margin-bottom: 10px;
}

.form-modal__field:nth-last-child(3) {
  margin-bottom: 20px;
}

.form-modal__input {
  margin: 0;
  padding: 11px 12px 11px 42px;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 0;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  cursor: pointer;
}

.form-modal__input:hover, .form-modal__input:focus {
  border: 1px solid var(--accent-color);
}

.form-modal__comment {
  resize: none;
  padding: 11px 16px;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  cursor: pointer;
}

.form-modal__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment:hover, .form-modal__comment:focus {
  border: 1px solid var(--accent-color);
}

.form-modal__label {
  margin-bottom: 4px;
}

.form-modal__icon {
  position: absolute;
  bottom: calc(0% + 12px);
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-modal__field:hover .form-modal__icon,
.form-modal__input:focus + .form-modal__icon {
  fill: var(--accent-color);
}

.form-modal__field-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.form-modal__input-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-modal__input-check:checked + .form-modal__box-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: content-box;
}

.form-modal__input-check:checked + .form-modal__box-check .form-modal__icon-check {
  fill: var(--primary-white-color);
}

.form-modal__box-check {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.form-modal__input-check:focus + .form-modal__box-check {
  outline: var(--accent-color);
  border: 2px solid blue;
}

.form-modal__icon-check {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: transparent;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-modal__link {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--primary-text-colo);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bagraund-img.jpeg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bagraund-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.features-page {
  padding-bottom: 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  width: calc((100% - 90px) / 4);
}

.features__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.features__item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.features__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--button-bg-color);
  border-radius: 4px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.directions__item {
  position: relative;
  width: calc((100% - 60px) / 3);
  line-height: 0;
}

.directions__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.directions__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.directions__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team-page {
  background-color: var(--button-bg-color);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__item {
  text-align: center;
  width: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team__item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}

.team__photo {
  margin-bottom: 30px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  display: block;
  width: calc((100% - 150px) / 6);
}

.clients__item:not(:nth-child(6n)) {
  margin-right: 30px;
}

.clients__item:not(:nth-last-child(-n + 6)) {
  margin-bottom: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  cursor: pointer;
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 6px 22px;
  background-color: var(--button-bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.6;
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.filter__button:hover, .filter__button:focus, .filter__button-active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.project__item {
  margin: 15px;
  width: 370px;
  line-height: 0;
}

.project__link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  cursor: pointer;
}

.project__link:hover, .project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.project__link:hover .project__thumb::before,
.project__link:focus .project__thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__label {
  position: absolute;
  width: 322px;
  margin: 0;
  top: 150%;
  left: 50%;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.56;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.project__link:hover .project__label,
.project__link:focus .project__label {
  -webkit-transform: translate(-50%, -225%);
          transform: translate(-50%, -225%);
}

.project__description {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  text-align: left;
}

.project__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
/*# sourceMappingURL=main.css.map */