.address {
    @extend %list;
}

.address-page {
    margin-right: 70px;
}

.address__item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }

    &:first-child {
        .address__link {
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
        }
    }
}

.address__link {
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    text-decoration: none;

    @include transition(color);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    &--white-color {
        color: var(--primary-white-color);
        @include transition(color);
    }
}
