.form-mail {
    text-align: center;

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.form-mail__field {
    position: relative;

    max-width: 450px;
    margin-bottom: 20px;
    overflow: hidden;

    @media screen and (min-width: $tablet) and (max-width: #{$desktop - 1}) {
        min-width: 450px;
    }

    @media screen and (min-width: $desktop) {
        min-width: 358px;
        margin-right: 12px;
        margin-bottom: 0;
    }
}

.form-mail__input {
    display: inline-block;
    width: 100%;
    padding: 15px 16px;

    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-text-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: transparent;

    @include transition(border);

    &:not(:placeholder-shown) + .form-mail__label {
        transform: translateY(150%);
    }

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.form-mail__label {
    position: absolute;
    top: 50%;
    left: 16px;

    color: rgba(255, 255, 255, 0.6);

    font-size: 16px;
    line-height: 1.25;

    transform: translateY(-50%);
    @include transition(transform);

    .form-mail__input:hover + &,
    .form-mail__input:focus + & {
        transform: translateY(150%);
    }
}
