.page-footer {
    padding: 60px 0;

    background-color: var(--footer-bg-color);
}

.page-footer__container {
    text-align: center;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }

    @media screen and (min-width: $desktop) {
        text-align: start;
        justify-content: start;
    }
}

.footer__title {
    margin-top: 5px;
    margin-bottom: 20px;

    @media screen and (min-width: $desktop) {
        margin-top: 12px;
    }

    color: var(--primary-white-color);

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}